<h1>Liste des Événements</h1>

<p>
  <%= link_to 'Créer un nouvel événement', new_event_path %>
</p>

<hr>

<% @events.each do |event| %>
  <div>
    <h2><%= link_to event.title, event_path(event) %></h2>
    
    <p><strong>Description :</strong> <%= event.description %></p>
    <p><strong>Lieu :</strong> <%= event.location %></p>
    <p><strong>Prix :</strong> <%= number_to_currency(event.price) %></p>
    <p><strong>Date de début :</strong> <%= event.start_date.strftime("%d %B %Y à %H:%M") %></p>
    <p><strong>Durée :</strong> <%= event.duration %> minutes</p>
    
    <p><%= link_to "Voir les détails", event_path(event) %></p>
  </div>
  
  <hr>
<% end %>
