<div class="text-center mb-4">
  <h1 class="text-2xl font-bold">Liste des Événements (<%= @ongoing_events_count %>)</h1>
</div>

<hr class="my-4">

<div class="flex flex-wrap justify-between">
  <% @events.reverse.each do |event| %>
    <div class="border border-gray-300 rounded-lg p-4 m-2 w-full md:w-1/3 shadow-md">
      <h2 class="text-xl font-semibold"><%= link_to event.title, event_path(event) %></h2>
      <p class="line-clamp-3 break-words whitespace-normal"><strong>Description :</strong> <%= event.description %></p>
      <p><strong>Lieu :</strong> <%= event.location %></p>
      <p><strong>Prix :</strong> <%= number_to_currency(event.price) %></p>
      <p><strong>Date de début :</strong> <%= event.start_date.strftime("%d %B %Y à %H:%M") %></p>
      <p><strong>Durée :</strong> <%= event.duration %> minutes</p>
      <p><%= link_to "Voir les détails", event_path(event), class: 'text-blue-500 hover:underline' %></p>
    </div>
  <% end %>
</div>
