<h1><%= @event.title %></h1>
<p>Description : <%= @event.description %></p>
<p>Lieu : <%= @event.location %></p>
<p>Prix : <%= number_to_currency(@event.price) %></p>

<%= form_with(model: [@event, @attendance]) do |form| %>
  <%= form.submit "Rejoindre cet événement" %>
<% end %>
