<div class="container mx-auto mt-10 p-5 border rounded-lg shadow-lg bg-white">
  <h1 class="text-4xl font-bold mb-4"><%= @event.title %></h1>
  <p class="text-lg text-gray-700 mb-2"><strong>Description :</strong> <%= @event.description %></p>
  <p class="text-lg text-gray-700 mb-2"><strong>Lieu :</strong> <%= @event.location %></p>
  <p class="text-lg text-gray-700 mb-4"><strong>Prix :</strong> <%= number_to_currency(@event.price) %></p>
  
  <p class="text-lg text-gray-700 mb-2"><strong>Date de début :</strong> <%= @event.start_date.strftime("%d %B %Y à %H:%M") %></p>
  <p class="text-lg text-gray-700 mb-2"><strong>Durée :</strong> <%= @event.duration %> minutes</p>
  <p class="text-lg text-gray-700 mb-2"><strong>Créé par :</strong> <%= @event.user.first_name %> <%= @event.user.last_name %></p>
  <p class="text-lg text-gray-700 mb-2"><strong>État :</strong> <%= @event.end_date < Time.current ? "Terminé" : "À venir" %></p>

  <p class="text-lg text-gray-700 mb-2"><strong>Nombre de participants :</strong> <%= @event.attendances.count %></p>

  <% if @event.end_date < Time.current %>
    <p class="text-red-500">Cet événement est déjà passé.</p>
  <% else %>
    <% if @is_participant %>
      <div class="p-4 mb-4 text-green-700 bg-green-100 border border-green-400 rounded" role="alert">
        Vous êtes déjà inscrit à cet événement.
      </div>
    <% else %>
      <div class="mt-4">
        <%= button_to "Rejoindre cet événement", checkout_create_path(total: @event.price, event_id: @event.id), method: :post, class: "px-4 py-2 text-white bg-blue-500 hover:bg-blue-600 rounded", data: { turbo: false } %>
      </div>
    <% end %>
  <% end %>

  <%= link_to 'Retour à la liste des événements', events_path, class: "mt-3 inline-block px-4 py-2 text-blue-700 bg-blue-100 hover:bg-blue-200 rounded" %>
</div>
